h1 {
  font-weight: 700;
  padding-bottom: 10px;
  font-size: 40px;
  text-align: center;
}
h2 {
  font-weight: 700;
  font-size: 20px;
}
h3 {
  font-weight: 700;
  padding-bottom: 10px;
  font-size: 25px;
}

h4 {
  font-weight: 700;
  font-size: 20px;
}

h5,
strong {
  font-weight: 700;
  font-size: 18px;
}

table {
  border-collapse: collapse;
  margin: 10px 0;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

p,
span {
  padding-top: 10px;
  font-size: 18px;
  line-height: 25px;
}
.padding-left {
  font-size: 15px;
  padding-left: 100px;
}
li {
  font-size: 18px;
}

pre {
  border: 1px solid white;
  padding: 5px;
  border-radius: 10px;
  margin: 10px 0;
}
.impoBlock {
  padding: 5px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  margin-top: 10px;
}
/* =================================================================== */
.main {
  position: relative;
  height: 100%;
  max-width: 100%;
  color: black;
  display: flex;
  overflow-wrap: break-word;
  overflow: hidden;
}

.video-background {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Контент */
.main__container {
  position: relative;
  z-index: 1;
  color: white;
  padding: 10px;
  width: 80vw;
  max-width: 100%;
}

.main__title {
  text-align: center;
  /* border: 2px solid black;
  border-radius: 10px; */
  font-size: 60px;
  font-weight: 700;
}

.main__text {
  margin-top: 10px;
  padding: 20px;
  /* border: 2px solid black;
  border-radius: 10px; */
  height: 100%;
}
/* ======================================== */
