header {
  background-color: #8a2be2;
  width: 100vw;
  height: 100px;
}
.header__container {
  margin: 0 auto;
  padding: 0 20px;
}
.header__line {
  display: flex;
  justify-content: space-between;
}

.header__logo img {
  position: absolute;
  top: 10px;
  width: 80px;
  height: 80px;
  animation: rotate 3s linear infinite;
}
.header__theme {
  align-content: center;
}
.header__theme button {
  position: relative;
  background-color: wheat;
  border: 1px solid wheat;
  border-radius: 20px;
  padding: 10px;
  width: 40px;
}
.header__theme button::before {
  position: absolute;
  top: 1px;
  left: 1px;
  content: "";
  background-color: black;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.header__linkGit {
  min-height: 100px;
  min-width: 100px;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
