.navbar {
  width: 300px;
  flex-shrink: 0;
}

.navbar__items {
  font-size: 30px;
  text-align: center;
}
.navbar__item {
  align-content: center;
  padding: 10px;
  max-width: 100%;
  max-height: 100%;
  transition: background 0.5s ease, transform 1s ease;
  border-radius: 10px;
}
.navbar__item:hover {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  cursor: pointer;
}

.navbar__item:active {
  transform: scale(0.95);
}
.navbar__item.active {
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
}
a:visited {
  color: white;
}
